@use "sass:math";
// 色
$white: #fff;
$white2: #f3f3f3;
$white3:#f8f8f8;
$white4: #e2e2e2;
$black: #000;
$black2: #242424;
$black3:#040404;
$navy: #011950;
$navy2: #001E63;
$navy3: #001135;
$gray: #626262;
$gray2: #a9a9a9;
$gray3:#f8f9f9;
$gray4:#e4e4e4;
$beige: #f9f2e5;